/* Landing Page Styles */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  /* Welcome Message Styles */
  .welcome-message {
    text-align: center;
    margin-top: 1rem;
    max-width: 90%;
  }
  
  /* Login Card Styles */
  .login-cardm {
    max-width: 400px; /* Adjust the width as needed */
    width: 100%;
  }
  .register-statment{
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0.5rem;
  }
  .register-link{
    text-align: center;
    color:rgb(105, 99, 99);
    text-decoration: underline;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }